@font-face {
    font-family: iransans;
    src: url('../fonts/ttf/IRANSansWeb(FaNum).ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none !important;
    font-family: iransans;

}

.group-error-validate{
    color: #f95252;
    position: absolute;
    top: 8px;
    left: 7px;
    font-size: 13px !important;
}
.select2-error{
    border: 1px solid red !important;
}
.is-invalid{
    border: 1px solid red !important;
}
.valid{
    border: 1px solid #00c800 !important
}
.most-visited-category{
    .owl-carousel{
        .owl-nav{
            display: none;
        }
    }
}
.special-advertise{
    .owl-carousel{
        padding: 3px;
        .owl-stage-outer{
            padding: 3px;
        }
        .owl-nav{
           .owl-next{
               position: absolute;
               width: 30px;
               height: 30px;
               background: #40916C;
               right: 64px;
               margin: 0 !important;
               display: flex;
               justify-content: center;
               align-items: center;
               &:hover{
                  background: #2D6A4F;
               }
           }
            .owl-prev{
                position: absolute;
                width: 30px;
                height: 30px;
                background: #40916C;
                right: 20px;
                margin: 0 !important;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background: #2D6A4F;
                }
            }
            .disabled{
                opacity: 1 !important;
            }
        }
    }
}
.news-advertise{
    .owl-carousel{
        padding: 3px;
        .owl-stage-outer{
            padding: 3px;
        }
        .owl-nav{
            .owl-next{
                position: absolute;
                width: 30px;
                height: 30px;
                background: #40916C;
                right: 64px;
                margin: 0 !important;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background: #2D6A4F;
                }
            }
            .owl-prev{
                position: absolute;
                width: 30px;
                height: 30px;
                background: #40916C;
                right: 20px;
                margin: 0 !important;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background: #2D6A4F;
                }
            }
            .disabled{
                opacity: 1 !important;
            }
        }
    }
}
.similar-advertise{
    .owl-carousel{
        padding: 3px;
        .owl-stage-outer{
            padding: 3px;
        }
        .owl-nav{
            .owl-next{
                position: absolute;
                width: 30px;
                height: 30px;
                background: #40916C;
                right: 64px;
                margin: 0 !important;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background: #2D6A4F;
                }
            }
            .owl-prev{
                position: absolute;
                width: 30px;
                height: 30px;
                background: #40916C;
                right: 20px;
                margin: 0 !important;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background: #2D6A4F;
                }
            }
            .disabled{
                opacity: 1 !important;
            }
        }
    }
}
.main-slider{
    #sync1 {
        position: relative;
        .owl-stage-outer {
            .owl-stage {
                display: flex;
                .item {
                    color: #fff;
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    border-radius: 8px;
                    text-align: center;
                    img{
                        border-radius: 8px;
                    }
                }

            }
        }
        .owl-nav {
            .owl-prev {
                position: absolute;
                top: 40%;
                width: 30px !important;
                height: 30px !important;
                background: #fff !important;
                right: 87%;
                border-radius: 50%;
                display: flex;
                justify-content: center;
            }
            .owl-next {
                position: absolute;
                top: 40%;
                width: 30px !important;
                height: 30px !important;
                background: #fff !important;
                border-radius: 50%;
                left: 87%;
                display: flex;
                justify-content: center;
            }
            .disabled{
                opacity: 1 !important;
            }
        }
        svg {
            width: 10px !important;
        }
    }
    #sync2 {
        .owl-nav {
            button {
                display: none;
            }
        }
        .owl-stage{
            width: 100% !important;
            display: flex;
            justify-content: space-between;
            .owl-item{
                width: 100% !important;
                .item {
                    width:96%;
                    background: #c9c9c9;
                    margin: 0 !important;
                    color: #fff;
                    -webkit-border-radius: 8px;
                    -moz-border-radius: 8px;
                    border-radius: 8px;
                    text-align: center;
                    cursor: pointer;
                    img{
                        border-radius: 8px;
                    }
                    h1 {
                        font-size: 18px;
                    }
                }
            }
        }
        .current {
            .item {
                background: #0c83e7;
            }
        }
    }
    .owl-theme {
        .owl-nav {
            [class*="owl-"] {
                transition: all 0.3s ease;
            }
            [class*="owl-"].disabled {
                &:hover {
                    background-color: #d6d6d6;
                    color: black !important;
                }
            }
        }
    }
    .owl-carousel {
        .animated {
            animation-duration: 1.5s !important;
        }
    }
}
.mag-slick{
    .owl-carousel{
        padding: 3px;
        .owl-stage-outer{
            padding: 3px;
        }
        .owl-nav{
            .owl-next{
                position: absolute;
                width: 30px;
                height: 30px;
                background: #40916C;
                right: 64px;
                margin: 0 !important;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background: #2D6A4F;
                }
            }
            .owl-prev{
                position: absolute;
                width: 30px;
                height: 30px;
                background: #40916C;
                right: 20px;
                margin: 0 !important;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background: #2D6A4F;
                }
            }
            .disabled{
                opacity: 1 !important;
            }
        }
    }
}

.select2-container--bootstrap[dir=rtl] .select2-selection--single{

    font-size: 14px !important;
    border-radius: 8px !important;
    padding: 10px 12px 10px 12px !important;
    box-shadow: none !important;
    border-color: #C6C6C6 !important;

}

.select2-container--bootstrap.select2-container--focus .select2-selection{

    box-shadow: none !important;
    border-color: #C6C6C6 !important;
}

.leaflet-control-geosearch form{
    padding: 0 !important;

}

.leaflet-control-geosearch form input{
    text-indent: 30px !important;
}
select {
    background-position: left 0.5rem center !important;
    padding-right: 0.5rem !important;
 }

@media screen and (max-width: 768px){
    .special-advertise{
        .owl-carousel{
            .owl-nav{
                display: none !important;
            }
        }
    }
    .news-advertise{
        .owl-carousel{
            .owl-nav{
                display: none !important;
            }
        }
    }
    .similar-advertise{
        .owl-carousel{
            .owl-nav{
                display: none !important;
            }
        }
    }
    .mag-slick{
        .owl-carousel{
            .owl-nav{
                display: none !important;
            }
        }
    }
}
