@font-face {
    font-family: iransans;
    src: url('../fonts/ttf/IRANSansWeb(FaNum).ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none !important;
    font-family: iransans;

}
.active{
    color: #ffed66;
}


.group-error-validate{
    color: #f95252;
    position: absolute;
    top: 8px;
    left: 7px;
    font-size: 13px !important;
}
.select2-error{
    border: 1px solid red !important;
}
.is-invalid{
    border: 1px solid red !important;
}
.valid{
    border: 1px solid #00c800 !important
}



.select2-search--inline .select2-search__field{
    line-height: 32px !important;
}
select {
    background-position: left 0.5rem center !important;
    padding-right: 0.5rem !important;
 }

